<% content_for :title, "Modifier la recette" %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card mt-4">
        <div class="h-deco-left">
          <h1>Modifier la recette</h1>
          <p>
            <%= link_to recipes_path, class: "text-decoration-none" do %>
              <i class="fas fa-chevron-left"></i>
              Revenir à la liste des recettes
            <% end %>
          </p>
        </div>
        <div class="card-body">
          <%= render "form", recipe: @recipe %>
        </div>
      </div>
    </div>
  </div>
</div>
