<% content_for :title, "Modifier la recette" %>

<div class="container">
  <h1 class="my-4">Modifier la recette</h1>

  <div>
    <%= link_to "Revenir à la recette", recipe_path(@recipe) %>
  </div>

  <%= render "form", recipe: @recipe %>
</div>
