<% content_for :title, "Modifier la recette" %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h1 class="mt-4 mb-0">Modifier la recette</h1>
      <p class="mb-4">
        Renseigner l'ensemble des champs avant de passer à l'étape suivante
      </p>
        <div class="card">
          <div class="card-body">
            <%= render "form", recipe: @recipe %>
          </div>
        </div>
    </div>
  </div>
</div>
