<% content_for :title, "Liste des ingrédients" %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card mt-4">
        <div class="h-deco-left">
          <h1>Liste des ingrédients</h1>
          <p>
            <%= link_to new_ingredient_path, class: "text-decoration-none" do %>
              <i class="fas fa-plus"></i>
              Ajouter un ingrédient
            <% end %>
          </p>
        </div>
        <div class="card-body">
          <table class="table table-sm table-borderless table-striped">
            <tbody>
              <% @ingredients.each do |ingredient| %>
                <tr>
                  <td scope="row"><%= ingredient.name %></td>
                  <td><%= ingredient.section %></td>
                  <td>
                    <%= link_to edit_ingredient_path(ingredient) do %>
                      <i class="fas fa-edit"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
