<% content_for :title, "Liste des ingrédients" %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h1 class="mt-4 mb-0">Liste des ingrédients</h1>
      <p class="mb-4">
        <%= link_to "Ajouter un ingrédient", new_ingredient_path %>
      </p>
        <div class="card">
          <div class="card-body">
            <table class="table table-sm table-borderless">
              <thead>
                <tr>
                  <th scope="col">Ingrédient</th>
                  <th scope="col">Rayon</th>
                </tr>
              </thead>
              <tbody>
                <% @ingredients.each do |ingredient| %>
                  <tr>
                    <td scope="row"><%= ingredient.name %></td>
                    <td><%= ingredient.section %></td>
                    <td>
                      <%= link_to edit_ingredient_path(ingredient) do %>
                        <i class="fas fa-edit"></i>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
    </div>
  </div>
</div>
