<% content_for :title, "Liste des ingrédients" %>

<div class="container">
  <h1 class="my-4">Liste des ingrédients</h1>

  <div>
    <%= link_to "Ajouter un ingrédient", new_ingredient_path %>
  </div>

  <div>
    <% @ingredients.each do |ingredient| %>
      <div>
        <%= ingredient.name %>
        (<%= ingredient.section %>)
        <%= link_to "Modifier", edit_ingredient_path(ingredient) %>
      </div>
    <% end %>
  </div>
</div>
