<% content_for :title, "Ajouter un ingrédient" %>

<div class="container">
  <h1 class="my-4">Ajouter un ingrédient</h1>

  <div>
    <%= link_to "Revenir à la liste des ingrédients", ingredients_path %>
  </div>

  <%= render "form", ingredient: @ingredient %>
</div>
