<% content_for :title, "Ajouter un ingrédient" %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card mt-4">
        <div class="h-deco-left">
          <h1>Ajouter un ingrédient</h1>
          <p>
            <%= link_to ingredients_path, class: "text-decoration-none" do %>
              <i class="fas fa-chevron-left"></i>
              Revenir à la liste des ingrédients
            <% end %>
          </p>
        </div>
        <div class="card-body">
          <%= render "form", ingredient: @ingredient %>
        </div>
      </div>
    </div>
  </div>
</div>
