<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<p><%= link_to "Voir toutes les recettes", recipes_path %></p>
<p><%= link_to "Ajouter une nouvelle recette", recipes_new_path %></p>
