<% content_for :title, "Ma liste de courses" %>

<div class="container">
  <h1 class="my-4">Ma liste de courses</h1>

  <div>
    <div>Mes recettes sélectionnées</div>
    <% @shopping_lists.each do |item| %>
      <div>
        <%= "#{item.recipe.name} (x#{item.quantity})" %>
      </div>
    <% end %>
  </div>

  <div>
    <div>Ma liste de courses</div>
    <% @ingredients.each do |section, doses| %>
      <% unless doses.empty? %>
        <div><%= section %></div>
        <% doses.each do |id, ingredient| %>
          <div>
            <%= "#{ingredient[:name]} (#{format_quantity(ingredient[:quantity])} #{ingredient[:unit]})" %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
