<div class="container">
  <h1>Ma liste de courses</h1>

  <div>
    <%= link_to "Revenir à la liste des recettes", recipes_path %>
  </div>

  <div>
    <% @shopping_lists.each do |item| %>
      <div>
        <%= item.recipe.name %> (x<%= item.quantity %>)
      </div>
    <% end %>
  </div>
</div>
