.btn-custom {
  display: block;
  width: auto;
  min-width: 33%;
  margin: 24px auto;
}

.btn-to-up {
  position: fixed;
  top: 50vh;
  right: 0;
  padding: 0.8rem 0.5rem 0.8rem 1rem;
  border-radius: 10% 0 0 10%;
  background-color: white;
  opacity: 0.9;

  @include media-breakpoint-up(sm) {
    padding: 0.8rem 0.5rem 0.8rem 1rem;
  }

  a {
    display: flex;
    align-items: center;
    color: $danger;
    opacity: 1;
    text-decoration: none;

    &:hover {
      opacity: 0.9;
    }
  }

  i:first-child {
    font-size: 1.5rem;
    margin-right: 0.3rem;

    @include media-breakpoint-up(sm) {
      font-size: 2rem;
      margin-right: 0.5rem;
    }
  }

  i:last-child {
    font-size: 0.6rem;

    @include media-breakpoint-up(sm) {
      font-size: 0.8rem;
    }
  }
}
