/* Customize the label (the container) */
.my-checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  margin-right: 8px;
}

/* Hide the browser's default checkbox */
.my-checkbox input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: $light-gray;
}

.my-checkbox:hover input ~ .checkmark {
  background-color: $aqua;
}

.my-checkbox input:checked ~ .checkmark {
  background-color: $aqua;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.my-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.my-checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
