/* Customize every form */
.my-form {
  color: $gray-700;

  div.custom-control-inline {
    width: 100%;

    @include media-breakpoint-up(md) {
      width: 20%;
    }
  }
}

/* Customize select */
select.is-valid, select.is-invalid {
  background-position: right 20px center !important;
}

/* Customize checkboxes */
.my-checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  margin-right: 8px;

  input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }

  &:hover input ~ .checkmark {
    background-color: $aqua;
  }

  input:checked ~ .checkmark {
    background-color: $aqua;
  }

  input:checked ~ .checkmark:after {
    display: block;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: $light-gray;

    &:after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
      content: "";
      position: absolute;
      display: none;
    }
  }
}
