.navbar-lewagon {
  justify-content: space-between;
  background: white;

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand img {
    width: 40px;
  }

  .nav-item a:hover, .navbar-lewagon .nav-item a:active {
    color: $raspberry !important;
    background-color: transparent;
  }

  .dropdown-item {
    color: rgba(0, 0, 0, 0.5);
  }
}
